body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacifico', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.font-header {
    font-family: 'Pacifico', cursive;
}

.jumbotron {
    background-image: url("../src/images/landingImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar {
    background-color: #ffdd00;
    color: black;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    padding: 20px;
    width: 100%;
}

.nav-link {

    display: flex;
    margin-left: 5em;
    font-size: large;
    color: black;
    background-color: #ffdd00;
    
}

footer {
    text-align: center;
    background-color: #ffdd00;
    padding: 20px;
    font-family: 'Pacifico', cursive;
}

/* 
.landing-header {
    vertical-align: middle !important;
} */

.dashboard-header {
    background-color: #ffdd00;
}
